<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maquina de Turing</title>
</head>
<body>
<form action="https://localhost/maquina-de-turing/maquina" method="post">
    Inicial:
    <label>
        <input type="text" name="inicial">
    </label><br><br>
    Estados:
    <label>
        <input type="text" name="estados">
    </label><br><br>
    Simbolos:
    <label>
        <input type="text" name="simbolos">
    </label>
    <br>
    <br>
    <input type="submit" value="Enviar">
</form>
</body>
</html>