<!doctype html>
<html lang="pt-br">
<head>
    <title>Máquina de Turing</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <script src="http://localhost/maquina-de-turing/public/lib/jquery-3.3.1.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost/maquina-de-turing/public/css/tela-inicial.css">

    <!-- <script src="http://localhost/maquina-de-turing/public/js/tela-inicial.js"></script>
    <script src="http://localhost/maquina-de-turing/public/js/separaTudo.js"></script> -->

    <script src="http://localhost/maquina-de-turing/public/js/tela-inicial.js"></script>
    <script src="http://localhost/maquina-de-turing/public/js/separaTudo.js"></script>

    <script type="text/javascript">



        //  $.ajax({
        //     type: "GET",
        //     data: { "teste": "teste" },
        //     url: "teste",
        //     success: function(data) {
        //         console.log(data);
        //     }
        // });



    </script>

</head>
<body class="jumbotron" >

<div id="cabecalho">
    <h3>Máquina de Turing</h3>
</div>

<br/><br/>

<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <!--<form action="https://localhost/maquina-de-turing/maquina" method="post">-->
            <div id="div-form" class="form-group form-control form-control-lg">
                <div class="form-group ">
                    <!-- <label for="estado">Informe a conta desejada</label>
                    <input type="text" class="form-control" id="operacaoDesejada" placeholder="Ex: 9+9"> -->
                    <label for="estado">Expressão:</label>
                    <input type="text" class="form-control" id="estado" placeholder="Ex: q1,A=q2,X,D">
                    <button class="btn btn-primary btn-block" onclick="capturaEstado();" >Inserir expressão</button>
                    <div class="form-group">
                        <label for="txtArea">Estado/Ação:</label>
                        <textarea style="text-align: center;" class="form-control" rows="0" id="txtArea" disabled></textarea>
                    </div>
                </div>
            </div>
            <!--</form>-->
        </div>
        <div class="col-lg-12">
            <div id="div-form" class="form-group form-control form-control-lg">
                <div class="form-group ">
                    <div class="row">
                        <div class="col-lg-6">
                            <button onClick="chamaDiv();" class="btn btn-primary btn-block">Ok, inserir</button>
                        </div>
                        <div class="col-lg-6">
                            <button onClick="enviarJson();" class="btn btn-primary btn-block">Iniciar operação</button>
                        </div>
                    </div>
                    </br>
                    <div class="col-lg-12">
                        <div id="lineBox" class="lineBox"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script-->
<!--src="https://code.jquery.com/jquery-3.2.1.min.js"-->
<!--integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo="-->
<!--crossorigin="anonymous"></script>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>