#cabecalho{
    text-align: center;
    font-family: SansSerif;
}

#lineBox{
    /* border: 1px solid red; */
    height: 50px;
}

#controle-velocidade{

}

.box{
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    margin-top: 4px;
    float: left;
}

.btn{
    margin-top:5px;
}

.animacao-jquery{
    border: 3px solid red;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:100px;
    overflow: hidden;
}
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}